@page
@model webHotel.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/ingresar.css" asp-append-version="true" />

<div id="page-loader">
	<span class="ball-loader"></span>
	<span class="ball-loader"></span>
	<span class="ball-loader"></span>
	<span class="ball-loader"></span>
	<span class="ball-loader"></span>
</div>

<script type="text/javascript">
	window.onload = function () {
		var contenedor = document.getElementById('page-loader');

		contenedor.style.visibility = 'hidden';
		contenedor.style.opacity = 0;
	}
</script>


<header class="navbar visible">
	<h2>Hotel BenjuPorras</h2>
	<nav>
		<a asp-area="" asp-page="/Index"><span class="material-icons">home</span>Inicio</a>
		<a asp-area="" asp-page="/Habitaciones"><span class="material-icons">bedroom_parent</span>Habitaciones</a>
		<a asp-area="" asp-page="/Servicios"><span class="material-icons">local_laundry_service</span>Servicios</a>
		<a asp-area="" asp-page="/Registro"><span class="material-icons">account_circle</span>Registrarse</a>
		<a asp-area="" asp-page="/Login"><span class="material-icons">input</span>Ingresar</a>
	</nav>
</header>


<main class="main_ingreso">
	<article class="contenedor_form">
		<h2>Inicia Sesión</h2>
		<form class="formulario" method="post">
			<input type="text" name="Usuario" placeholder="Usuario">
			<input type="password" name="Contrasenia" placeholder="Contraseña">
			<input type="submit" asp-page-handler="IniciarSesion" value="Ingresar" name="" required>
			@if (Model.Fallo)
			{
				<p style="color: red; font-family: var(--poppins); text-align: center; ">Alguno de los datos de la sesion ha sido incorrecto. Reviselos nuevamente</p>
			}
		</form>
	</article>
</main>

<footer>
	<div class="derechos">
		© Todos los derechos reservados - Benju 2023
	</div>
	<div class="titulo">
		Hotel BenjuPorras
	</div>
	<div class="faces">
		Para toda la familia  <span class="material-icons">child_care</span> <span class="material-icons">face_6</span> <span class="material-icons">face_3</span> <span class="material-icons">face_4</span>
	</div>
</footer>
